/*Skjal sem ákvarðar útlit haus og fótar vefsíðunnar*/

.navbar-brand{
  font-family: Impact, Charcoal, sans-serif;
}

.navbar-static-bottom{
margin-top: 60px;
bottom: 0;
}

@media (min-width: 767px) {
  .navbar-fixed-top{
    min-height: 4em;
  }
  .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 4em;
      font-size: 2em;
      font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  }


  .navbar-brand {
      padding-top: 0em;
      padding-bottom: 0em;
      line-height: 2.5em;
      font-size: 3em;

  }
}

.navbar-default {
  background-color: #57267b;
  border-color: #280051;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #7b7b7b;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #7b7b7b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #57267b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #7b7b7b;
  background-color: #280051;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #57267b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #7b7b7b;
  background-color: #280051;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #7b7b7b;
  background-color: #280051;
}
.navbar-default .navbar-toggle {
  border-color: #280051;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #280051;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #7b7b7b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7b7b7b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7b7b7b;
    background-color: #280051;
  }

  .navbar-nav > li > a {
    line-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}

.navbar{
opacity: 0.8;
}
