#aboutus
{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	margin-left: 25%;
	font-size: 20px;
	width:50%;
	color:black;
}
#up_container{
	margin-left: 15%;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	float: left;
	width:40%;
}

#contcont
{
	margin-bottom: 11%;
}

#kort
{
	margin-left:20px;
	float: left;
	width:40%;

}
.img-rounded {
    width:100px;
    height:150px;
    margin-top:55px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

div > img {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}
}