body {
    font: 12px arial, helvetica, sans-serif;
    font-size: 100%;
}
h2 {
    
}
table {
    margin: 20px 0;
    border-collapse:collapse;
    width: 100%;
    font-size: 1.1em;
}
th,td {
    border: 1px solid #ccc;
    padding: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    font-size: 1.5em;
}
