/*
Helga Lóa Kristjánsdóttir, 8. mars 2015
*/

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Muli:300);

h1
{
font-family: 'Oswald', sans-serif;
font-size: 30px;
text-transform: uppercase;
color: #662d91;
}


/*miðjustilling*/
.body {
    display:block;
    margin:0 auto;
    width:576px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #999;
}


/* titill á textaboxum */
label 
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* miðjustillir fyrir hverja síðu */
form 
{
    margin:0 auto;
    width:459px;
}

/* stíllinn á textaboxunum */
input, textarea, file {
	width:439px;
	height:27px;
	background-color:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

	input:focus, textarea:focus {
		border:1px solid #662d91;
	}

/* skilaboðaformið */	
textarea 
{
	height:213px;
	background-color: #efefef;
}


/* stíll á senda takkanum */
#submit {
	/* background:url(images/submit.png); */
	width:127px;
	height:48px;
	text-align: center;
	/* text-indent:-9999px; */
	border:none;
	margin-top:20px;
	cursor:pointer;
}

/* stíll á senda hover */	
#submit:hover {
	color:#fff;
	background-color: #662d91;
	opacity:0.9;
}

/* stíll á hætta við takkanum*/	
#cancel {
	/* background:url(images/cancel.png); */
	width:127px;
	height:28px;
	text-align: center;
	/* text-indent:-9999px; */
	border:none;
	margin-top:20px;
	cursor:pointer;
}

/* stíll á hætta við hover */
#cancel:hover {
	color:#fff;
	background-color: #000;
	opacity:0.9;
}